<ion-view view-title="Código de Hamming">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Digite o bit que deseja verificar" ng-model="hamming.inputBit">
      </label>
    </div>
    <div class="padding" ng-if="hamming.showMessageVerify()">
      <button class="button button-block button-outline button-balanced" >
        OK !
      </button>
    </div>
    <div class="padding" ng-if="hamming.showBitVerify()" >
      <button class="button button-block button-outline button-assertive" >
        Erro no bit: {{hamming.bitCheck}}
      </button>
    </div>

    <div class="padding">
      <button class="button button-block button-positive" ng-click="hamming.getBitCheck()">
        Verificar
      </button>
    </div>
  </ion-content>
</ion-view>