/* Empty. Add your own CSS if you like */
.pane {
    background-color: #303030;
}

.bar.bar-stable .title {
    color: white;
}

.bar.bar-stable {
    background-color: #303030;
}

.bar-stable .button.button-clear {
    color: white;
}